.footer {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 1.1rem;
    font-family:'Times New Roman', Times, serif;
    color: black;
    background-image: url(../images/bg1.jpg);
    padding: 10px;
    margin: 0;
}
a {
    color:blueviolet;
}
a:hover {
    color:chocolate;

}